.html, .body{
    margin:0 !important;
    padding:0 !important; 
    width: 100%;
}
header {
    /* display: flex; */
    /* font: 600 12px Arial; */
    /* letter-spacing: 3px; */
    text-align: right;
  }

.bg-light {
    background-color: #f1f3ff !important;
}

.area-logo{
    /* position relative absolute kayak bulet bulet yang diajarin sama Kareka */
    /* border-style: dotted; */
    position: relative;
    /* padding-right: 20px; */
} 

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #5CB85F !important;
    border-style: none;
    font-weight: 500;

}

.area-logo > img{
    right: 25px;
    bottom: 15px;
    position: absolute;
    /* width: 99.5px; */
}

nav{
    /* padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 100px !important; */
}

.area-navbar a{
    /* margin: 10px 8px; */
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.gambar0{
    justify-content: flex-end;
    align-items: flex-end;
}

.gambar1{
    width: 100%;
    height: auto;
    padding-top: 10px;
    /* border-style: dotted; */

}

.gambar2{
    width: 50%;
    height: auto;
    padding-top: 10px;
    /* border-style: dotted; */
    display: block; /*supaya kotak displaynya si img ambil width sampe 100% , bukan gambarnya*/
    margin-left: auto;
    margin-right: auto;
    
}
.area-text0{
    padding-left:10vw !important;
    padding-right: 200px;
}

.area-text0 h1{
    padding-bottom: 20px;
    /* border-style:solid ; */
    margin-bottom: 0px !important;
}

.area-text0 div{
    /* border-style:dotted ; */
    margin-bottom: 20px;
}

.button1{
    /* padding: 5px 15px !important; */
    color: white !important; 
}

/* supaya tinggi kartu sama, sumber : https://codepen.io/Kerrys7777/pen/QWgwEeG , kasih align-items:stretch  */
.area-kartu0{
    display: flex;
    justify-content: space-between;
    align-items:stretch ;
    padding: 0px;
}

.area-kartu0 div{
    margin: 10px;
}

.area-why0{/* kalo percent inget kalo tinggi coba dikasi maxheight nya berapa kalo ga meleber kemana mana*/
    /* border-style: dotted; */
    /* background-color: brown; */
    padding:1vh 10vw;
}

/*coba perhatiin mana descendant mana anak sumber: https://www.w3schools.com/css/tryit.asp?filename=trycss_sel_element_gt */
/* perbedaan descendant sama child ada di: https://www.w3schools.com/css/css_combinators.asp */
.area-why0 > div:first-child{
    /* background-color: bisque; */
}

.carousel .carousel-item {
    height: 500px;
  }

.carousel-item img {
    object-position: center;
    object-fit: cover;
    /* height: 500px; */
    /* height: 50vh; */
  }

.area-testi0{
    text-align: center;
}  

.area-testi0 h3, .area-testi0 h6, .area-why0 div:first-child h3 , .area-why0 div:first-child h6  {
    line-height: 1.8; /* diperhatikan, ini lineheight ngatur tinggi kata ke kotak, mirip kek padding cuma bagus memang dalam 1 div terus dipisah sama <br> */
}

.area-getstart0{
    padding-right: 100px;
}
.square {
    color: aliceblue;
    background-color: #0D28A6;
    padding: 10vh 10vw;
    text-align: center;
    margin: 50px 10vw;
    height: auto;
    border-radius: 10px;
    
}

.area-text1 div{
    /* margin: 0 50px 35px 50px; */
    /* width: 500px; */
    font-weight: lighter;
}

.area-faq1{
    padding: 0px 10vw 0px 10vw;
}


.accor1{
    border-top: 1px solid !important;
}

.btn-karosel{
    display: flex;
    justify-content: center;
}

.carousel-control{
    background-color: greenyellow;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;

}
.carousel-item{
    height: auto !important;
    padding-bottom: 20px; 
}

.tombol-crsl{
    width: 15px;
    height: 15px;
}

.card{
    
    border-radius: 10px;
    border-style: none;
}

@media (min-width: 0px) and (max-width: 768px){

    .page-1{
        flex-direction: column;
        /* width: 100%; */
    }
    .area-text0{
        padding-right: 10vw !important;
    }
    .gambar1{
        padding-right: 0px  ;
    }
    .area-kartu0{
        display: flex  !important;
        flex-direction: column;
        align-items: center;
        
    }

    .kartuWhyUs{
        width: 80vw !important;
    }
    
}
@media (min-width: 0px) and (max-width:320px){
    .offcanvas-end{
        /* width: 60vw !important; */
    }
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: transparent;
}

/* mau si hero nya yang poisis relatif juga sama aja */
.floating-form{
    position: relative;
    left: 0;
    right: 0;
    bottom:60px;;
}

.form-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul {
    list-style: none;
  }
select:invalid { color: gray; }